# Dependencies
node_modules/

# Build output
out/
.next/
.netlify/

# Environment / secrets
.env
.env.local

# OS / editor
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# TypeScript / Next.js
*.tsbuildinfo
next-env.d.ts
